
.vscode/
Desktop.ini

backup of new text:
<section class="intro-section">
     <p class="intro-text">
        Rabbits are among the Midwest's most polarizing animals--beloved by their guardians, despised by gardeners--misunderstood by parents and classroom teachers with good intentions. While pet rabbits (aka "house rabbits") can be playful and affectionate, their instincts as prey animals make them questionable companions to families with young children. Their upkeep requires vigilance, twice daily feeding of greens, and visits to exotics veterinarians, which average two or three times the cost of cats and dogs. Experienced rabbit owners, however, delight in their binkies (180-degreespins in the air), indicating delight, and their infinite variety of coat colors, patterns, and textures. </p>
        <p>
     This guide covers the full spectrum of Leporidae family found in the Great Northwest states of Illinois, Ohio, and Iowa: house rabbits, wild cottontails, and escapee rabbits originallybred for meat</p>
    </section>